@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1E3653;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

/*main h2::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    height: 4px;*/
/*    width: 25px;*/
/*    bottom: 3px;*/
/*    left: 0;*/
/*    border-radius: 8px;*/
/*    background: linear-gradient(45deg, #348DDB, #348DDB);*/
/*}*/

form {
    display: flex;
    flex-direction: column;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

/*.input-field .underline::after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    height: 1px;*/
/*    width: 100%;*/
/*    bottom: -5px;*/
/*    left: 0;*/
/*    background: linear-gradient(45deg, #348DDB, #348DDB);*/
/*    transform: scaleX(0);*/
/*    transition: all .3s ease-in-out;*/
/*    transform-origin: left;*/
/*}*/

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input.btnSubmit {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background: #1E3653;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    text-align: center;
}

a{
    text-decoration: none;
}


/*VERIFICAR EMAIL*/

main.containerEmail {
    background: white;
    min-width: 320px;
    /* min-height: 40vh; */
    padding: 2rem;
    box-shadow: 5px 5px 15px rgb(0 0 0 / 20%);
    border-radius: 8px;
}

form .btnEmail {
    padding: 0.4rem;
    width: 100%;
    background: #1E3653;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/*ERRO*/
.input-field-erro {
    position: relative;
}

form .input-field-erro:first-child {
    margin-bottom: 1.5rem;
}

.input-field-erro .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: lightcoral;
}


.input-field-erro input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field-erro input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

.input-field-erro input::placeholder {
    color: lightcoral;
}